%h3
  New project:

= form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      - pluralize(@project.errors.count,'error')
      %h3
      Prohibited to save the project:
      %ul
      - @project.errors.full_messages.each do |msg|
        %li
          = msg
  %p
    =f.label :name
    =f.text_field :name
    =f.label :description
    =f.text_field :description
  %p
    =f.submit

